

<br />

<div id="pag">
  {{#each pregunta}}
    <div class='pag'>
          <span style='width:100px;'>
              {{nombre_pregunta}}
          </span>
    </div>
  {{/each}}
    <br />

<form action="mostrarResultado?idcuento={{id_cuento}}&numero={{numero}}" method="post">
{{#each opciones}}
    <div>
        <input type='radio' id='opc-{{numero_opcion}}' name='opciones' value='{{numero_opcion}}' />
        <label for='opc-{{numero_opcion}}'>
          {{numero_opcion}}
          {{texto_opcion}}
        </label>
    </div>
    <br />
{{/each}}
    <br />
<div>    
<input class="cssPregunta" type="submit" value="Resultado" />
</div>
    <br />
</form>
    <br />
</div>

